<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Yahoo Search Suite" verbose="1">
    <test name="Yahoo Search Tests">
        <classes>
            <class name="ui.web.taf.tests.YahooSearchTest"/>
        </classes>
    </test>
</suite>